/.idea
/target
testdata/tpch/*
!testdata/tpch/queries
testdata/tpcds/*
!testdata/tpcds/queries
!testdata/tpcds/README.md
testdata/clickbench/*
!testdata/clickbench/queries
!testdata/clickbench/README.md
codegen/target/*
codegen/Cargo.lock
