[workspace]
members = ["benchmarks"]

[workspace.dependencies]
datafusion = { version = "49.0.0", default-features = false }
datafusion-proto = { version = "49.0.0" }

[package]
name = "datafusion-distributed"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = { version = "0.4.42" }
datafusion = { workspace = true }
datafusion-proto = { workspace = true }
arrow-flight = "55.2.0"
async-trait = "0.1.88"
tokio = { version = "1.46.1", features = ["full"] }
# Fixed to 0.12.3 because of arrow-flight
tonic = { version = "0.12.3", features = ["transport"] }
tower = "0.5.2"
http = "1.3.1"
itertools = "0.14.0"
futures = "0.3.31"
url = "2.5.4"
uuid = "1.17.0"
delegate = "0.13.4"
dashmap = "6.1.0"
prost = "0.13.5"
rand = "0.8.5"
object_store = "0.12.3"
bytes = "1.10.1"

# integration_tests deps
insta = { version = "1.43.1", features = ["filters"], optional = true }
tpchgen = { git = "https://github.com/clflushopt/tpchgen-rs", rev = "c8d823432528eed4f70fca5a1296a66c68a389a8", optional = true }
tpchgen-arrow = { git = "https://github.com/clflushopt/tpchgen-rs", rev = "c8d823432528eed4f70fca5a1296a66c68a389a8", optional = true }
parquet = { version = "55.2.0", optional = true }
arrow = { version = "55.2.0", optional = true }
tokio-stream = { version = "0.1.17", optional = true }
hyper-util = { version = "0.1.16", optional = true }
pin-project = "1.1.10"

[features]
integration = [
    "insta",
    "tpchgen",
    "tpchgen-arrow",
    "parquet",
    "arrow",
    "tokio-stream",
    "hyper-util",
]

tpch = ["integration"]

[dev-dependencies]
structopt = "0.3"
insta = { version = "1.43.1", features = ["filters"] }
tpchgen = { git = "https://github.com/clflushopt/tpchgen-rs", rev = "c8d823432528eed4f70fca5a1296a66c68a389a8" }
tpchgen-arrow = { git = "https://github.com/clflushopt/tpchgen-rs", rev = "c8d823432528eed4f70fca5a1296a66c68a389a8" }
parquet = "55.2.0"
arrow = "55.2.0"
tokio-stream = "0.1.17"
hyper-util = "0.1.16"
