[workspace]
members = ["benchmarks"]

[workspace.dependencies]
datafusion = { version = "50.0.0", default-features = false }
datafusion-proto = { version = "50.0.0" }

[package]
name = "datafusion-distributed"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "fuzz"
path = "src/bin/fuzz.rs"
required-features = ["integration"]

[dependencies]
chrono = { version = "0.4.42" }
datafusion = { workspace = true }
datafusion-proto = { workspace = true }
arrow-flight = "56.1.0"
arrow-select = "56.1.0"
async-trait = "0.1.88"
tokio = { version = "1.46.1", features = ["full"] }
# Updated to 0.13.1 to match arrow-flight 56.1.0
tonic = { version = "0.13.1", features = ["transport"] }
tower = "0.5.2"
http = "1.3.1"
itertools = "0.14.0"
futures = "0.3.31"
url = "2.5.4"
uuid = "1.17.0"
delegate = "0.13.4"
dashmap = "6.1.0"
prost = "0.13.5"
rand = "0.8.5"
object_store = "0.12.3"
bytes = "1.10.1"
log = "0.4"
env_logger = "0.11"

# integration_tests deps
base64 = { version = "0.22", optional = true }
clap = { version = "4.5", features = ["derive"] , optional = true}
insta = { version = "1.43.1", features = ["filters"], optional = true }
tpchgen = { git = "https://github.com/clflushopt/tpchgen-rs", rev = "482ee68", optional = true }
tpchgen-arrow = { git = "https://github.com/clflushopt/tpchgen-rs", rev = "482ee68", optional = true }
parquet = { version = "56.1.0", optional = true }
arrow = { version = "56.1.0", optional = true }
tokio-stream = { version = "0.1.17", optional = true }
hyper-util = { version = "0.1.16", optional = true }
pin-project = "1.1.10"
rand_chacha ={ version = "0.3.1", optional = true }

[features]
integration = [
    "base64",
    "clap",
    "insta",
    "tpchgen",
    "tpchgen-arrow",
    "parquet",
    "arrow",
    "tokio-stream",
    "hyper-util",
    "rand_chacha",
]

tpch = ["integration"]

[dev-dependencies]
structopt = "0.3"
insta = { version = "1.43.1", features = ["filters"] }
tpchgen = { git = "https://github.com/clflushopt/tpchgen-rs", rev = "482ee68" }
tpchgen-arrow = { git = "https://github.com/clflushopt/tpchgen-rs", rev = "482ee68" }
parquet = "56.1.0"
arrow = "56.1.0"
tokio-stream = "0.1.17"
hyper-util = "0.1.16"
